.rustic-message-canvas {
  gap: 4px;
  position: relative;
}

.rustic-message-canvas .rustic-message-container {
  padding: 16px;
}

.rustic-message-canvas .rustic-message-actions-container {
  opacity: 0;
  position: absolute;
  top: 4px;
  right: 16px;
  display: flex;
  align-items: center;
}

.rustic-message-canvas .rustic-header .rustic-timestamp {
  margin-left: 16px;
}

.rustic-message-canvas:hover .rustic-message-actions-container {
  opacity: 1;
}

.rustic-message-canvas .rustic-footer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.rustic-message-canvas .rustic-thread-reply-icon {
  font-size: 14px;
}

.rustic-message-canvas .rustic-thread-reply-count {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
}

@media (max-width: 900px) {
  .rustic-message-canvas .rustic-message-actions-container {
    bottom: -20px;
    top: unset;
  }

  .rustic-message-canvas .rustic-header .rustic-timestamp {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .rustic-message-canvas .rustic-thread-reply-count {
    align-self: flex-start;
  }
}
